
<!DOCTYPE html>
<html>
    <head>
        {% load bootstrap3 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <meta charset="utf-8">
        <!-- 设置页面标题 -->
        <title>Guest Manage Page</title>
    </head>
    <!--<div style="float:right;">-->
        <!--<a>嘿！{{ user }} 欢迎</a><hr/>-->
    <!--</div>-->
    <body role="document">
        <!-- 导航栏 -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/event_manage/">Guest Manage System</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <!-- 设置页面导航栏，class=active表示当前菜单处于选中状态 -->
                        <li class="active"><a href="#">发布会</a><li>
                        <!-- href=/guest_manage/用于跳转到嘉宾管理页面 -->
                        <li><a href="/guest_manage/">嘉宾</a><li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">{{user}}</a></li>
                        <!-- href=/logout/用于跳转到退出路径 -->
                        <li><a href="/logout/">退出</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!--发布会搜索表单-->
        <div class="page-header" style="padding-top: 60px;">
            <div id="navbar" class="navbar-collapse collapse">
                <form class="navbar-form" method="get" action="/search_name/">
                     <div class="form-group">
                        <input name="name" type="text" placeholder="名称" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-success">搜索</button>
                </form>
            </div>
        </div>

        <!-- 发布会列表 -->
        <!-- style属性中padding-top用于设置元素的上内边距，如果不设置该属性，发布会列表可能会被导航栏遮挡 -->
        <div class="row" style="padding-top: 0px;">
            <div class="col-md-6">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>id</th><th>名称</th><th>状态</th><th>地址</th><th>时间</th><th>签到</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- 通过Django模板语言，使用for循环，循环打印发布会的id、name等字段，注意for循环语句需要有对应的endfor来表示语句的结束 -->
                        {% for event in events %}
                            <tr>
                                <td>{{ event.id }}</td>
                                <td>{{ event.name }}</td>
                                <td>{{ event.status }}</td>
                                <td>{{ event.address }}</td>
                                <td>{{ event.start_time }}</td>
                                <td><a href="/sign_index/{{ event.id }}/" target="{{ event_id }}_blank">sign</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!--<h1>Login Success!</h1>-->
    </body>
</html>